<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        <h1>Written by {{ .Title }}</h1>
        {{with .Params.description}}
            <p>{{.}}</p>
        {{end}}
        {{with .Content}}
            <p>{{.}}</p>
        {{end}}
        {{partial "page-list-books.html" .Paginator.Pages.ByPublishDate.Reverse}}
        {{ template "_internal/pagination.html" . }}
    </article>
    {{partial "footer.html" .}}
</div>
</body>
</html>
