<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        <h1>{{ i18n "all_posts" . }}</h1>
        {{with .Params.description}}
            <p>{{.}}</p>
        {{end}}
        <div class="tags columns">
            {{ range .Site.Taxonomies.tags.ByCount }}
            <div class="meta">
                <h2><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h2>
                <p><b>{{ .Count }}</b> {{ i18n "notes_count" }}</p>
            </div>
            {{ end }}
        </div>
    </article>
    {{partial "contact.html" .}}
</div>
</body>
</html>
