<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        <h1><a href="/shelves/" class="gray">shelf</a><span class="gray"> //</span> {{ if .Params.heading }} {{.Params.heading}} {{else}} {{ .Title }} {{end}}</h1>
        {{with .Params.description}}
            <p>{{.}}</p>
        {{end}}
        {{with .Content}}
        <p>{{.}}</p>
        {{end}}
        {{partial "page-list-published.html" .Paginator.Pages.ByTitle }}
        {{ template "_internal/pagination.html" . }}
    </article>
    {{partial "nav-buttons.html" .}}
    {{partial "contact.html" .}}
</div>
</body>
</html>
