// Add your own CSS here!

:root {
  --light: #f5f5f5;
  --dark: #333333;
  --secondary: #f56262;
  --tertiary: #5ecba3;
  --visited: #cbc3c3;
  --primary: #d33a56;
  --gray: #4e4e4e;
  --lightgray: #ffffff;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #eff984;
}

[saved-theme="dark"] {
  --light: #1e2125 !important;
  --dark: #f2f2f2 !important;
  --secondary: #f56262 !important;
  --visited: #8d7180 !important;
  --tertiary: #4ab08b !important;
  --primary: #f58382 !important;
  --gray: #adb1ba !important;
  --lightgray: #2d343c !important;
  --outlinegray: #575a5f !important;
  --highlighted: #4ab08b;
}



