// Add your own CSS here!

:root {
  --light: #ffffff;
  --dark: #333333;
  --secondary: #f18686;
  --tertiary: #73c8aa;
  --visited: #cbc3c3;
  --primary: #d33a56;
  --gray: #rgba(0, 0, 0, 0.2);
  --lightgray: rgba(234, 234, 234, 0.5);
  --medgray: rgba(44, 44, 44, 0.5);
  --darkgray: rgba(255, 255, 255, 0.9);
  --gray-text: #a7a7a7;
  --outlinegray: #dadada;
  --search-text: #333333;
  --menu-bg: #eaeaea;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #eff984;

  --shade-0: #d6d1d9; //gray
  --shade-20: #e2d1e3; //purple
  --shade-40: #facad7; //pink
  --shade-60: #e3d8cd; //yellow
  --shade-80: #c4dbd1; //green
  --shade-100: #b9d8e6; //blue
}

[saved-theme="dark"] {
  --light: #1e2125 !important;
  --dark: #b9b9b9 !important;
  --secondary: #e16d8e !important;
  --visited: #8d7180 !important;
  --tertiary: #275b49 !important;
  --primary: #f58382 !important;
  --gray: rgba(0, 0, 0, 0.75) !important;
  --lightgray: rgba(149, 149, 149, 0.09) !important;
  --medgray: rgba(44, 44, 44, 0.5) !important;
  --darkgray: rgba(0, 0, 0, 0.2) !important;
  --gray-text: #757980 !important;
  --outlinegray: #575a5f !important;
  --search-text: #cccccc !important;
  --menu-bg: #2a2e34;
  --highlighted: rgba(138, 245, 204, 0.251) !important;

  --shade-0: #37313e; //gray
  --shade-20: #4e3150; //purple
  --shade-40: #603d47; //pink
  --shade-60: #353331; //yellow
  --shade-80: #40453d; //green
  --shade-100: #2a3038; //blue
}



