<div id="books">
    {{- range . -}}
        <div class="book-entry">
            {{ $baseUrl := .Site.BaseURL }}
            <div class="book-image">
                <a href="{{ .Permalink }}">
                    <img src="{{ $baseUrl }}books/book-covers/{{ .Params.title | urlize | lower }}.jpg" alt="book cover for {{ .Params.title }}">
                </a>
            </div>
              <h1><a href="{{ .Permalink }}" data-src="{{ .RelPermalink }}">{{- .Title -}}</a></h1>
              {{ $order := .Params.weight }}
                {{ range .Params.series }}
                <p>
                  <a href="{{ $baseUrl }}series/{{ . | urlize | lower }}">{{ . }}</a> 
                  &num;{{ $order }}
                </p>
                {{ end }}
            <div class="spacer"></div>
        </div>
    {{- end -}}
</div>
