<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        <h1>{{ i18n "all_posts" . }}</h1>
            <p>Sort by <a href="{{ $.Site.BaseURL}}shelves/">shelves</a> or <a href="{{ $.Site.BaseURL}}notes/">genres</a>!</p>

        {{partial "page-list-published.html" .Paginator.Pages.ByLastmod }}
        {{ template "_internal/pagination.html" .}}
    </article>
    {{partial "contact.html" .}}
</div>
</body>
</html>
