<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
      <div class="metadata">
        <div class="flex-container">
          <img class="book-cover" src="{{ $.Site.BaseURL}}books/book-covers/{{ .Params.title | urlize | lower }}.jpg" alt="book cover for {{ .Params.title }}">
            <div class="book-metadata">
              <h1>{{ .Title }}</h1>
              {{ with .Params.subtitle }}<h2>{{ . }}</h2>{{ end }}
              {{ $order := .Params.series_weight }}
                {{ range .Params.series }}
                <h2>
                  <a href="{{ $.Site.BaseURL}}series/{{ . | urlize | lower }}">{{ . }}</a> 
                  &num;{{ $order }}
                </h2>
                {{ end }}
                <div class="author-publisher" style="margin-bottom: 1em;">
                  <ul class="authors">
                    {{ range .Params.authors }}<li class="authors"><a href="{{ $.Site.BaseURL}}authors/{{ . | anchorize | lower }}">{{ . }}</a></li>{{ end }}
                  </ul>
                  {{ $publish :=time .Params.publish }}
                  {{ range .Params.publishers }}
                  <p>Published {{ $publish.Format "2006" }} by <a href="{{ $.Site.BaseURL}}publishers/{{ . | urlize | lower }}">{{ . }}</a></p>
                  {{ end }}
                </div>
                  <ul class="tags">
                    {{ range (.GetTerms "genres") }}
                    <li><a href="{{ .Permalink }}">
                    {{if (eq $.Site.Language.Lang "en")}}
                      {{ .LinkTitle | lower }}
                    {{else}}
                      {{ .LinkTitle }}
                    {{end}}
                      </a>
                     </li>
                    {{ end }}
                  </ul>
            </div>
        </div>
    </div>

      {{partial "toc.html" .}}
      {{partial "textprocessing.html" . }}

      {{partial "shelves.html" .}}

    </article>
    {{partial "footer.html" .}}
</div>
</body>
</html>
